.hesap-makinesi {
  background-color: #333;
  padding: 25px;
  border-radius: 30px;
  width: 320px;
  box-shadow: 0px 15px 35px rgba(0,0,0,0.4);
}

.ekran {
  background-color: #fff;
  height: 80px;
  margin-bottom: 25px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  font-size: 2.8rem;
  color: #333;
  overflow: hidden;
}

.butonlar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.btn {
  height: 65px;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #666;
  color: white;
}

.ac { background-color: #ff3b30; }
.c { background-color: #4cd964; }
.opt { background-color: #ff9500; }
.esittir { background-color: #007aff; }
.sifir { 
  grid-column: span 2; 
  border-radius: 40px; 
}

.btn:active {
  transform: scale(0.92); 
  filter: brightness(1.2); 
}


@keyframes move {
    from { transform: rotate(0deg) translateX(10px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

.background-animate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
    background: linear-gradient(45deg, #a3d8f4, #81c4e9);
}

.circle {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    animation: move 10s infinite linear;
}